
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #ffffff;
    padding-top: 16px;
    
}

nav{
    width: 100%; 
    max-width: 1600px;
    padding-left: 120px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 346px;
    
}


.logo img{
    width: 139px;
    height: 60px;
}

nav .menu{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
    /* margin-left: 346px; */
    white-space: nowrap;
}

nav .menu li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.btn{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 346px;
    margin-right: 120px;
    cursor: pointer;
}

.nav-btn, .btn-primary{
    background-color: #30B868;
    color: #FFFFFF;
}

.btn-secondary{
    background-color: #b8bec9;
    color: #000000;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    box-sizing: border-box;
    border: none;
    
}



.hero-section{
    
    
    width: 100%;
    min-height: 800px;
    background-image: linear-gradient(rgba(113, 102, 102, 0.6), rgba(0,0,0,0.6)), url('assets/hero-bg.png');
    background-size: cover;
    
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    margin: 16px 0;

}







.badge-container{
    display: inline-flex;
    align-items: center;
    padding: 9.5px 12px;
    border: 1px solid #c1c5c3;
    border-radius: 50px;
    gap: 12px;
    background-color: #ffffff;
    color: #30B868;
}


h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
    font-style: bold;
    margin-top: 24px;
    margin-bottom: 16px;
    padding: 16px;
}

.text-green{
    color: #30B868;
}

.subheading{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
    
}

.btn-primary{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-style: bold;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 4px;
}

.doesd h2{

font-style: Bold;
font-size: 48px;
font-weight: 700;
color: #001931;
line-height: 58px;
letter-spacing: 0%;
text-align: center;


}

.doesd p{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #4F5665;
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 16px 120px;
}

.features-container{
    display: flex;
    justify-content: center;
    gap: 16px;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 24px;
}

.card{
    background: white;
    padding: 30px 20px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.icon-box{
    background-color: #ff5e5e;
    display: flex;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    justify-content: center;
    margin: 0 auto 20px;
}

.icon-box img{
    width: 32px;
    height: 32px;
}

.card h3{
    color: #0d1b3e;
    font-size: 20px;
    margin-bottom: 15px;
}

.card p{
    color: #4F5665;
    font-size: 16px;
    line-height: 24px;
}